
<table id="bills">
  <tr class="even_row">
    <td id="lp">
      <%=@count %>
    </td>
    <td id="name">
      <%=h(trunc(bill.name)) %>
    </td>
    <td id="name">
      <%=h(trunc(bill.price_summary)) %>
    </td>
    <td id="name">
      <%=h(trunc(bill.place_name)) %>
    </td>
    <td id="date">
      <%=h get_date(bill.spend_at,"%Y/%m/%d %H:%M") %>
    </td>
    <td id="date">
      <%=h get_date(bill.created_at,"%Y/%m/%d %H:%M:%S") %>
    </td>
    <td id="date">
      <%=h get_date(bill.updated_at,"%Y/%m/%d %H:%M:%S") %>
    </td>
    <td id="actions">
      <%= link_to_remote( 'szczegóły', :url=> {:controller=>'view', :action=>'bill_parts', :bill_id=>bill.id}) %>
      &nbsp;
      <%= link_to_remote( 'edytuj', :url=> {:controller=>'data', :action=>'edit_bill', :bill_id=>bill.id,:count=>@count}) %>
      &nbsp;
      <%= link_to_remote( 'usuń', :url=> {:controller=>'data', :action=>'delete_bill', :bill_id=>bill.id}) %>
    </td>
  </tr>
</table>
