<div id="bill_graph_form">
  <%# form_remote_tag :url => '/posts' do -%>
  <% form_remote_tag :url => {:controler=>'view', :action=>'bill_graph_details'} do -%>
    <table>
      <tr>
        <td>
          Data:
        </td> 
        <td>
          Od:
        </td> 
        <td colspan="3">
          <%= date_select :bill_graph, :date_from, :use_month_numbers => true %>
        </td> 
        <td>
          Do:
        </td> 
        <td colspan="3">
          <%= date_select :bill_graph, :date_to, :use_month_numbers => true %>
        </td> 
      </tr>
      <tr>
        <td>
          Kwota:
        </td> 
        <td>
          Od:
        </td> 
        <td id="right">
          <%= text_field :bill_graph, :price_from_calosc, :size=>5 %>
        </td> 
        <td id="right">
          ,
        </td> 
        <td id="right">
          <%= text_field :bill_graph, :price_from_grosze, :size=>2 %>
        </td> 
        <td>
          Do:
        </td> 
        <td id="right">
          <%= text_field :bill_graph, :price_to_calosc, :size=>5 %>
        </td> 
        <td id="right">
          ,
        </td> 
        <td id="right">
          <%= text_field :bill_graph, :price_to_grosze, :size=>2 %>
        </td> 
      </tr>
      <tr>
        <td>
          <%= submit_tag 'Pokaż' %>
        </td> 
      </tr>
    </table>
  <% end -%>
                    
</div>
<div id="bill_graph_data">
  <h2>Wypełnij formularz aby zobaczyc statystyki</h2>
</div>
